.posts {
  a {
    display: block;
    transition: color 0.2s;

    &:hover {
      color: var(--pink-700);
    }

    & + a {
      margin-top: 3rem;
    }

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.125rem;
      margin-top: 0.5rem;
      color: var(--gray-200);
    }

    div {
      margin-top: 1.25rem;
    }
  }

  button {
    margin-top: 4rem;
    background: transparent;
    color: var(--pink-700);
    font-weight: bold;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}